
input[type="text"].wide {
    max-width: 100%;
    width: 100%;
}

textarea.wide {
    max-width: 100%;
    min-height: 50px;
    height: 100%;
    width: 100%;
}

td.text {
    color: gray;
}

span.group_0 {
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: bold;
    color: red;
}

span.group_1 {
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: bold;
    color: green;
}

span.group_2 {
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: bold;
    color: blue;
}

span.group_3 {
    text-decoration: underline;
    text-decoration-color: brown;
    font-weight: bold;
    color: blue;
}

span.group_4 {
    text-decoration: underline;
    text-decoration-color: aqua;
    font-weight: bold;
    color: blue;
}

span.group_5 {
    text-decoration: underline;
    text-decoration-color: orange;
    font-weight: bold;
    color: blue;
}

.center-div {
    margin: 200px auto;
}

.cscodedisabled {
    /*display: none;*/
}
